{% extends "base.html" %}

{% block style %}
    .carousel-inner img {
        max-height: 100%; 
        object-fit: cover;
    }

    .carousel-caption {
        background: black;
        opacity: 0.9;
    }

    .body {
        padding-top: 0px;
    }
{% endblock style %}

{% block body %}
	<div class="base-carousel" > <!-- style="max-height: 100%; width: auto;"-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="http://is1.mzstatic.com/image/thumb/Music62/v4/2d/3a/00/2d3a00e9-315f-d21c-8af2-6ff591d2f864/source/200x200bb.png" alt="First slide" style="max-height: 100%; object-fit: cover;" >
              <div class="carousel-caption d-none d-md-block">
                <h3>Featured Podcast: Lore</h3>
                <p>Aaron Mahnke</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="http://is1.mzstatic.com/image/thumb/Music127/v4/d0/e6/5f/d0e65f81-c2cf-7f59-38e4-6abcfab7e38a/source/200x200bb.png" alt="Second slide" >
              <div class="carousel-caption d-none d-md-block">
                <h3>Featured Podcast: The Joe Rogan Experience</h3>
                <p>Joe Rogan</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="http://is3.mzstatic.com/image/thumb/Music71/v4/1a/36/4e/1a364eba-792c-09c3-545b-1382c7b01a94/source/200x200bb.jpg" alt="Third slide" >
              <div class="carousel-caption d-none d-md-block">
                <h3>Featured Podcast: The Splendid Table</h3>
                <p>American Public Media</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
{% endblock body %}
