<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}All The Great Shows{% endblock %}</title>
    <script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>
<body>
     <div id="root"></div>
     <script type="text/babel">
		ReactDOM.render(
    		<p>All the great shows!</p>,
    		document.getElementById('root')
		);
	</script>
</body>
</html>